name: GitHub Change Workflow with SNOW custom tasks
'on': workflow_dispatch
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: '${{ runner.os }}-sonar'
          restore-keys: '${{ runner.os }}-sonar'
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: '${{ runner.os }}-m2-${{ hashFiles(''**/pom.xml'') }}'
          restore-keys: '${{ runner.os }}-m2'
  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: List current directory
        run: ls -a
      - name: Run Tests with Maven
        run: mvn -B test --file pom.xml
      - name: What's in the target directory
        run: |
          cd target
          ls -a
      # - name: Sonar Cloud Analysis
      #   if: success()
      #   run: >
      #     mvn -B verify -DskipTests
      #     org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      #     -Dsonar.projectKey=$SONAR_PROJECT_KEY
      #     # -Dsonar.organization=$SONAR_ORG_KEY -Dsonar.host.url=$SONAR_URL
      #     -Dsonar.login=$SONAR_TOKEN
      #   env:
      #     GITHUB_TOKEN: '${{ secrets.GHP_TOKEN }}'
      #     SONAR_TOKEN: '${{ secrets.SONAR_TOKEN }}'
      #     SONAR_PROJECT_KEY: '${{ secrets.SONAR_PROJECT_KEY }}'
      #     SONAR_URL: '${{ secrets.SONAR_URL }}'
      #     SONAR_ORG_KEY: '${{ secrets.SONAR_ORG_KEY }}'
      # - name: ServiceNow DevOps Sonar Scan Results
      #   uses: ServiceNow/servicenow-devops-sonar@main
      #   with:
      #     instance-url: '${{ secrets.SN_INSTANCE_NAME }}'
      #     devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
      #     devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
      #     tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
      #     context-github: '${{ toJSON(github) }}'
      #     job-name: Test
      #     sonar-host-url: '${{ secrets.SONAR_URL }}'
      #     sonar-project-key: '${{ secrets.SONAR_PROJECT_KEY }}'
      - name: ServiceNow DevOps Unit Test Results
        uses: ServiceNow/servicenow-devops-test-report@dev
        with:
          devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          instance-url: '${{ secrets.SN_INSTANCE_NAME }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          job-name: Test
          context-github: '${{ toJSON(github) }}'
          xml-report-filename: testResultsFolder/pytest.xml
          test-type: JUnit
  # SonarTest:
  #   name: Sonar stage
  #   needs: test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Run deployment scripts
  #       run: echo Completed Deployment
  integrationTest:
    name: IntegrationTests
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Register Artifact
        uses: ServiceNow/servicenow-devops-register-artifact@dev
        with:
          devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          instance-url: '${{ secrets.SN_INSTANCE_NAME }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          context-github: '${{ toJSON(github) }}'
          job-name: IntegrationTests
          artifacts: ' [{"name": "com:autoclaim","version": "1.${{ github.run_number }}","semanticVersion": "1.${{ github.run_number }}.0","repositoryName": "${{ github.repository }}"}]'
      - name: Register Package
        uses: ServiceNow/servicenow-devops-register-package@dev
        with:
          devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          context-github: '${{ toJSON(github) }}'
          job-name: IntegrationTests
          artifacts: ' [{"name": "com:autoclaim","version": "1.${{ github.run_number }}","semanticVersion": "1.${{ github.run_number }}.0","repositoryName": "${{ github.repository }}"}]'
          package-name: autoclaim.war
  deploy:
    name: Deploy
    needs: integrationTest
    runs-on: ubuntu-latest
    steps:
      - name: ServiceNow DevOps Change Automation
        uses: ServiceNow/servicenow-devops-change@dev
        with:
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          job-name: Deploy
          context-github: '${{ toJSON(github) }}'
          timeout: 3600
          interval: 100
          change-request: >-
            { "setCloseCode": "true", "attributes": { "short_description":
            "Automated test Software Deployment", "chg_model":
            "adffaa9e4370211072b7f6be5bb8f2ed", "description": "Automated
            Software Deployment.", "assignment_group":
            "a715cd759f2002002920bde8132e7018", "implementation_plan": "Software
            update is tested and results can be found in Test Summaries Tab.",
            "backout_plan": "When software fails in production, the previous
            software release will be re-deployed.", "test_plan": "Testing if the
            software was successfully deployed" } }
  postdeploy:
    name: Post Deploy
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Run deployment scripts
        run: echo Completed Deployment
